

body{
    background-image: 
    radial-gradient(farthest-corner at -2% 25%, #92ACCE 0%, transparent 25%), 
    radial-gradient(farthest-corner at 106% 114%, #1A447F 5%, transparent 25%), 
    radial-gradient(farthest-corner at -2% 75%, #CF9993 0%, transparent 25%),  
    url(../img/fig01.png), 
    url(../img/fig02.png),
    url(../img/fig03.png);
    position: relative, relative, relative, fixed, fixed, fixed;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat !important;
    background-size: cover, cover, cover, 20%, 20%, 20% !important;
    background-position: center,  center, center, 0% 14%, 100% 48%, 0% 74% !important;
}

.offcanvas{
    background: #294b82
    ;
}



.espera-video{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.citacao p{
    padding-left: 30%;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 0px;
  }

.btn-auditoria{
    background-size: cover;
    background: transparent;
    border: none;
    height: 301px;
    width: 351px;
    color: transparent;
}

.btn-auditoria:hover{
    transition: 0.5s ease;
}


.btn-auditoria-interna{
    background: url('../img/bt01.png');
}

.btn-auditoria-externa{
    background: url('../img/bt02.png');
}

.btn-auditoria-interna:hover{
    background: url('../img/bt01_hover.png');
}

.btn-auditoria-externa:hover{
    background: url('../img/bt02_hover.png');
}



@media screen and (max-width: 1400px){  
    body{
        background-image: 
        radial-gradient(farthest-corner at -2% 25%, #92ACCE 0%, transparent 25%), 
        radial-gradient(farthest-corner at 106% 114%, #1A447F 5%, transparent 25%), 
        radial-gradient(farthest-corner at -2% 75%, #CF9993 0%, transparent 25%);
        position: relative;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }
  }