.painel-principal{
    height: 453px;
    width: 801px;
    background: url(../img/timeline.png) center;
    background-repeat: no-repeat;
    position: relative;
}

.btn__painel-principal{
    background: transparent;
    border: none;
    position: absolute;
}

.btn-conceito__painel-principal{
    background: url(../img/bt1.png);
    height: 118px;
    width: 141px;
    top:1%;
    left: 13%;
}

.btn-tipo__painel-principal{
    background: url(../img/bt3.png);
    height: 118px;
    width: 272px;
    top:1%;
    left: 64%;
}



.btn-aplicacao__painel-principal{
    background: url(../img/bt2.png);
    height: 111px;
    width: 150px;
    top:76%;
    left: 41%;
}

.btn__painel-principal:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


.audio-player::after{
    background: none;
    height: 0px;
}

.bg-podcast::after{
    background: none;
}

.bg-podcast > div::after{
    background: none;
}

.bg-podcast {
    padding-bottom: 0px;
}


@media screen and (max-width: 940px){  
    .painel-principal{
        height: 600px;
        width: 70%;
        background: url(../img/timeline-mobile.png);
        background-repeat: no-repeat;
        position: relative;
        margin: auto;
    }

    .btn-conceito__painel-principal{
        background: url(../img/bt1_2.png);
        left: 24%;
        top: 8%;
    }

    .btn-aplicacao__painel-principal{
        background: url(../img/bt2_2.png);
        height: 110px;
        width: 152px;
        top: 38%;
        left: 24%;
        
    }
    
    .btn-tipo__painel-principal{
        background: url(../img/bt3_2.png) ;
        height: 119px;
        width: 272px;
        top: 68%;
        left: 24%;
    }

   
    
  }

  @media screen and (max-width: 750px){  
    .audio-player::before{
    background: none;
    
} 
    
  }



  


  @media screen and (max-width: 550px){  
    .painel-principal{
        height: 600px;
        width: 90%;
        background: url(../img/timeline-mobile.png);
        background-repeat: no-repeat;
        position: relative;
        margin: auto;
    }
   
    
  }