body{
  background: url(../img/bg.jpg) fixed;
  background-size: cover;
}



.espera-video{
    background-color: black;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.citacao p{
    padding-left: 30%;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 0px;
  }

  /*------------ Expandir Saiba Mais ------------*/

.caixa-container {
    position: relative;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 60px !important;
  }
  
  .caixa-exp {
    max-height: 60px;
    overflow: hidden;
    width: 100%;
    margin: 40px auto;
    transition-duration: .7s;
    position: relative;
    border: none;
  
  }
  
  .caixa-exp.aberta {
    max-height: 1900px;
  }
  
  .caixa-exp figure {
    margin-top: 40px;
  }
  
  .caixa-container button.btpluscaixa {
    content: '';
    background-image: url('../img/bt_mais2.png');
    background-size: contain;
    background-position: center;
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    background-color: transparent;
    border: none;
  }
  
  .caixa-container button.btpluscaixa:hover {
    transform: translateX(-50%) scale(1.03);
  }


  /*-------- CARDS --------*/
.flip-card {
  background-color: transparent;
  width: 280px;
  height: 413px;
  margin: 20px auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/*-------- /CARDS --------*/

.custom-number1{
  list-style: url(../img/lista1.png);  
}

.custom-number2{
  list-style: url(../img/lista2.png) ;
}

.custom-number3{
  list-style: url(../img/lista3.png) ;
}

.custom-number4{
  list-style: url(../img/lista4.png) ;
}

/* .custom-li{
  padding-left: 0px;
} */